**211**

함수의 호출 결과를 예측하라.

def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

In [ ]:
안녕
Hi

**212**

함수의 호출 결과를 예측하라.

def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

In [ ]:
7
15

**213**

아래와 같은 에러가 발생하는 원인을 설명하라.

def 함수(문자열) :
    print(문자열)
함수()
TypeError: 함수() missing 1 required positional argument: '문자열'

In [ ]:
정의된 함수에는 매개변수가 설정되어 있는데, 함수를 호출할 때 괄호 안에 매개변수를 넣지 않아서 오류가 발생했다.

**214**

아래와 같은 에러가 발생하는 원인을 설명하라.

def 함수(a, b) :

    print(a + b)

함수("안녕", 3)

TypeError: must be str, not int

In [ ]:
정의된 함수는 매개변수 2개를 받고, 그 2개를 더한 값을 출력하는 함수인데, 함수를 호출했을 때 문자열인 '안녕'과 정수형인 3은 더할 수 없기 때문에 오류가 발생했다.

**215**

하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

In [1]:
def print_with_smile(str1):
    print(str1+':D')

**216**

215에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.

In [2]:
print_with_smile('안녕하세요')

안녕하세요:D

**217**

현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

In [3]:
def print_upper_price(cost):
    print(cost*1.3)

**218**

두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

In [4]:
def print_sum(a,b):
    print(a+b)

**219**

두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

In [ ]:
def print_arithmetic_operation(a,b):
    print(f'{a} + {b} = {a+b}\n{a} - {b} = {a-b}\n{a} * {b} = {a*b}\n{a} / {b} = {a/b}')

**220**

세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

In [ ]:
def print_max(a,b,c):
    if (a>=b) and (a>=c):
        print(a)
    elif b<=c:
        print(c)
    else:
        print(b)