**161**

for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

In [1]:
for i in range(0,100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

**162**

월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

In [2]:
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

**163**

1부터 30까지의 숫자 중 3의 배수를 출력하라.

In [3]:
for i in range(3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

**164**

99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

In [5]:
for i in range(99,-1,-1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

**165**

for문을 사용해서 아래와 같이 출력하라.

0.0
0.1
0.2
0.3
0.4
0.5
...
0.9

In [8]:
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

**166**

구구단 3단을 출력하라.

In [10]:
for i in range(1,10):
    print(f'3x{i} = {3*i}')

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

**167**

구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

In [11]:
for i in range(1,10):
    if i % 2 == 1:
        print(f'3x{i} = {3*i}')

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

**168**

1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [12]:
sumNum = 0
for i in range(11):
    sumNum += i
print(sumNum)

55

**169**

1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [13]:
sumNum = 0
for i in range(11):
    if i % 2 == 1:
        sumNum += i
print(sumNum)

25

**170**

1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [16]:
mulNum = 1
for i in range(1,11):
    mulNum *= i
print(mulNum)

3628800